<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Removal</title>
    <link rel="stylesheet" href="../static/css/vehicleremoval.css">
</head>
<body>
    <nav>
        <ul>
          <li><a class="" href="/">Home</a></li>
          <li><a href="/myimages">My_Images</a></li>
          <li><a href="#">About</a></li>
          <li><a class="active" href="/imageai">Image_AI</a></li>
          <li><a href="/logout"><button class="button1">Logout</button></a></li>
        </ul>
      </nav>
      <div>
        <div class="child1">
            <h1>Image after vehicle background removal</h1>
            {{ text }}
            {% if image_url %}
		        <img class="bgimg" src="{{ image_url }}" alt="Background removed image" width="500px" height="500px">
	          {% endif %}
        </div>
        <div class="child2">
            <h3>Upload Image</h3>
        <form action="/vhremoval" method="post" enctype = "multipart/form-data">
            <input type="file" name="userfile"  required class="button2"/><br>
            <p>Image format: JPEG, JPG, PNG, BMP</p>
            <p>Image size no more than 3MB</p>
            <p>Image resolution greater than 32x32 pixels and less than 2000x2000 pixels</p>
            <button class="button3" type="submit">Submit query</button>
        </form>
        </div>
      </div>
</body>
</html>